body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(219, 188, 104);
}

.container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 60px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #000;
  animation: typing 1s steps(20, end), blink-caret 0.5s step-end infinite;
  font-family: "Nerko One";
}

.navigations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.text {
  font-size: 36px;
  font-family: "Sue Ellen Francisco";
  font-style: italic;
  line-height: 0.2;
  font-weight: 400;
}

.navigations a {
  text-decoration: none;
  color: #000;
  font-family: "Montserrat", cursive;
  font-size: 24px;
  padding: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.navigations a:hover {
  font-weight: bold;
  transform: scale(1.1);
}

.navigations a img {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}
.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.fade-in {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about {
  justify-content: center !important;
}

@media screen and (max-width: 768px) {
  body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .container {
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-size: 36px;
    white-space: normal;
    border-right: none;
    animation: none;
  }

  .navigations {
    flex-direction: column;
    align-items: center;
  }

  .navigations a {
    font-size: 18px;
    padding: 8px;
    margin-bottom: 10px;
  }

  .text {
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 28px;
  }

  .navigations a {
    font-size: 16px;
  }

  .text {
    font-size: 20px;
  }
}
